@import "../../global.scss";
.intro {
  background: url("../../assets/images/Rectangle\ \(35\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .introDesc {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 140px;
    bottom: 50px;
    color: #fff;
    @include mobile {
      left: 20px;
    }
    :nth-child(1) {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      line-height: 28px;
      font-size: 18px;
      @include mobile {
        font-size: 15px;
      }
    }
    :nth-child(2) {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      @include mobile {
        font-size: 14px;
      }
    }
    :nth-child(3) {
      width: 80px;
      height: 1px;
      background-color: #fff;
    }
  }
}
